# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
# .env.dev
# .env.preprod
# .env.staging
# .env.production
# .env.cep
# .env.staging.dad
# .env.staging.dev
# .env.staging.demo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
