@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #F6F6F6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  font-size: 14px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #05AF6E;
  text-decoration: none;
}

a:hover {
  color: #02804f;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.714rem;
}

h3 {
  font-size: 1.28rem;
}

h4 {
  font-size: 1.071rem;
}

h5 {
  font-size: 1rem;
}

.Toastify__toast.Toastify__toast--error {
  background: #e74c3c;
  color: #fff;
}
.Toastify__toast.Toastify__toast--error svg {
  fill: #fff;
}
.Toastify__toast.Toastify__toast--error .Toastify__progress-bar--error {
  background: #fff;
}

.Toastify__toast.Toastify__toast--success {
  background: #05AF6E;
}

.Toastify__toast .Toastify__close-button--light {
  color: #fff;
  opacity: 1;
}